.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px
}

.top-\[50\%\] {
  top: 50%
}

.top-\[25\%\] {
  top: 25%
}

.top-\[33\%\] {
  top: 33%
}

.bottom-\[20\%\] {
  bottom: 20%
}

.bottom-\[10\%\] {
  bottom: 10%
}

.bottom-\[9\%\] {
  bottom: 9%
}

.right-\[15px\] {
  right: 15px
}

.bottom-\[291px\] {
  bottom: 291px
}

.left-\[0px\] {
  left: 0px
}

.bottom-\[300px\] {
  bottom: 300px
}

.left-0 {
  left: 0px
}

.top-0 {
  top: 0px
}

.bottom-\[600px\] {
  bottom: 600px
}

.bottom-\[400px\] {
  bottom: 400px
}

.bottom-\[500px\] {
  bottom: 500px
}

.top-\[291px\] {
  top: 291px
}

.bottom-\[10px\] {
  bottom: 10px
}

.bottom-\[20px\] {
  bottom: 20px
}

.bottom-\[30px\] {
  bottom: 30px
}

.bottom-\[0px\] {
  bottom: 0px
}

.bottom-\[-100px\] {
  bottom: -100px
}

.bottom-\[-110px\] {
  bottom: -110px
}

.bottom-\[-120px\] {
  bottom: -120px
}

.bottom-\[-140px\] {
  bottom: -140px
}

.bottom-\[-150px\] {
  bottom: -150px
}

.bottom-\[-170px\] {
  bottom: -170px
}

.bottom-\[-180px\] {
  bottom: -180px
}

.bottom-\[-190px\] {
  bottom: -190px
}

.bottom-0 {
  bottom: 0px
}

.bottom-\[100px\] {
  bottom: 100px
}

.z-40 {
  z-index: 40
}

.z-20 {
  z-index: 20
}

.z-30 {
  z-index: 30
}

.z-50 {
  z-index: 50
}

.mt-3 {
  margin-top: 0.75rem
}

.mt-5 {
  margin-top: 1.25rem
}

.mt-\[236px\] {
  margin-top: 236px
}

.mt-1 {
  margin-top: 0.25rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-\[32px\] {
  margin-top: 32px
}

.mt-\[37px\] {
  margin-top: 37px
}

.mt-\[6px\] {
  margin-top: 6px
}

.mb-\[300px\] {
  margin-bottom: 300px
}

.mb-\[291px\] {
  margin-bottom: 291px
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-full {
  height: 100%
}

.h-\[52px\] {
  height: 52px
}

.h-\[60px\] {
  height: 60px
}

.h-\[13px\] {
  height: 13px
}

.h-\[12px\] {
  height: 12px
}

.h-\[48px\] {
  height: 48px
}

.h-\[300px\] {
  height: 300px
}

.h-\[70px\] {
  height: 70px
}

.h-\[291px\] {
  height: 291px
}

.h-\[400px\] {
  height: 400px
}

.w-1\/2 {
  width: 50%
}

.w-full {
  width: 100%
}

.w-\[315px\] {
  width: 315px
}

.w-\[14px\] {
  width: 14px
}

.w-\[15px\] {
  width: 15px
}

.w-\[20px\] {
  width: 20px
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-start {
  align-items: flex-start
}

.items-center {
  align-items: center
}

.justify-start {
  justify-content: flex-start
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.rounded-\[4px\] {
  border-radius: 4px
}

.border-2 {
  border-width: 2px
}

.border {
  border-width: 1px
}

.border-b {
  border-bottom-width: 1px
}

.border-b-2 {
  border-bottom-width: 2px
}

.border-line {
  --tw-border-opacity: 1;
  border-color: rgb(233 235 238 / var(--tw-border-opacity))
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.border-gray-500 {
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity))
}

.bg-light {
  --tw-bg-opacity: 1;
  background-color: rgb(255 101 15 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity))
}

.bg-blue-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(147 197 253 / var(--tw-bg-opacity))
}

.bg-background {
  background-color: F0F0F0
}

.bg-gray-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity))
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.bg-yellow-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 240 138 / var(--tw-bg-opacity))
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.bg-blue-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(191 219 254 / var(--tw-bg-opacity))
}

.p-\[13px\] {
  padding: 13px
}

.p-\[15px\] {
  padding: 15px
}

.p-\[14px\] {
  padding: 14px
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.px-\[30px\] {
  padding-left: 30px;
  padding-right: 30px
}

.py-\[15px\] {
  padding-top: 15px;
  padding-bottom: 15px
}

.pb-\[20px\] {
  padding-bottom: 20px
}

.text-center {
  text-align: center
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-\[22px\] {
  font-size: 22px
}

.text-\[10px\] {
  font-size: 10px
}

.text-\[14px\] {
  font-size: 14px
}

.text-\[16px\] {
  font-size: 16px
}

.text-\[24px\] {
  font-size: 24px
}

.text-\[13px\] {
  font-size: 13px
}

.font-bold {
  font-weight: 700
}

.font-\[60\] {
  font-weight: 60
}

.font-\[600\] {
  font-weight: 600
}

.font-\[700\] {
  font-weight: 700
}

.font-medium {
  font-weight: 500
}

.font-semibold {
  font-weight: 600
}

.font-\[500\] {
  font-weight: 500
}

.font-\[400\] {
  font-weight: 400
}

.leading-\[32\] {
  line-height: 32
}

.leading-\[36\] {
  line-height: 36
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(255 73 15 / var(--tw-text-opacity))
}

.text-\[\#0066FF\] {
  --tw-text-opacity: 1;
  color: rgb(0 102 255 / var(--tw-text-opacity))
}
