.mb-2 {
  margin-bottom: 0.5rem
}

.flex {
  display: flex
}

.items-center {
  align-items: center
}

.rounded-lg {
  border-radius: 0.5rem
}

.border-b {
  border-bottom-width: 1px
}

.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity))
}

.bg-gray-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity))
}

.p-0 {
  padding: 0px
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}
